### Diversity of species of the benthic data set. This data set is a multivariate data set. The Dutch government institute RIKZ carried out a marine benthic sampling program in the Summer of 2002. Data on 75 marine benthic species were collected at 45 sites at nine beaches along the Dutch coastline.
### The data matrix consists of 45 rows (sites) and 88 colums (75 Species and 13 explanatory variables).
### In this project your task is to calculate some diversity indices given below. A diversity index means, that for each site, you will characterise the 75 species with a single value. The diversity indices are defined:
1. Total abundance per site. This is the total number of marine benthic organisms per site.
2. Species richness, defined as the number of different species per site.
3. Shannon index. This takes into account both the presence/absence nature of the data and the actual abundance it is defined by
$$
H_{i} = - \sum_{j=1}^{m}p_{ij} \ln(p_{ij})
$$
with
$$
p_{ij} = \frac{Y_{ij}}{\sum_{j=1}^{m}Y_{ij}} \quad .
$$
### From the complete data set, we will be using the number of each species at each site, the first column in the data fram benthic contains labels, columns 2-76 contain species data. We will be using only these. These are written in the data fram species (45 x 75) . One row for each site, for example species.iloc[0,0] gives you the number 4, which means at site one are 4 organisms of species 1 .
# Task
## Write a function, which takes two arguments, first the data matrix in form of the above description of species and second the method of calculating the diversity index. The function should return a list with the diversity index for all sites as first element and the method used calculating for the diversity index.

In [ ]:
def index_function(spec, choice1=""):
    ''' help for the function '''
    if(choice1 == "total abundance"):
        index = 
    if(choice1 == "richness"):
        index = 
    if(choice1 == "shannon"):
        index =
    l = [index, choice1]
    return l

## Above you see a scatch of how the function should look like! Add also default value for the choice like it is shown above. A description for the function is also requiered.

In [1]:
import numpy as np
import pandas as pd

%matplotlib notebook
#%matplotlib inline
import matplotlib.pyplot as plt

#import the file benthic data from RIKZ.txt
benthic = pd.read_csv(r"RIKZ.txt", sep="\t")
species = benthic.iloc[:,1:76]

In [2]:
species.head()

,C1,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,M12,M14,M15,M16,M17,I1,I2,I3,I4,I5
0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Each row is a measurement of one of the 45 sites, the columns are the number of each species found at each site.

In [3]:
species.iloc[0,0]
# at the first site 4 specimens of the species C1 were found.

4.0

In [4]:
# a sum over over the rows of the species can be calculated as: 
species.sum(axis=1)
# on the first site there 143 specimens found!

0     143.0
1      52.0
2      70.0
3     199.0
4      67.0
5     944.0
6     241.0
7     192.0
8     211.0
9      48.0
10     35.0
11      1.0
12     47.0
13     38.0
14     10.0
15      1.0
16     47.0
17     73.0
18      8.0
19     48.0
20      6.0
21     42.0
22     29.0
23      0.0
24     43.0
25     33.0
26     34.0
27     67.0
28     46.0
29      5.0
30      7.0
31      1.0
32      1.0
33    102.0
34    352.0
35      6.0
36     99.0
37     27.0
38     85.0
39      0.0
40     19.0
41     34.0
42     23.0
43      0.0
44     11.0
dtype: float64